{% extends 'catalog/home.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-6">Давайте восстановим пароль</h1>
    </div>
    <form method="post">
                {% csrf_token %}
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Введите ваш адрес электронной почты и мы отправим на него
                            письмо</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="" class="form-floating">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="name">Ваша почта</label>
                                <input type="text" name="email" class="form-control" id="name" placeholder=""
                                       required><br>
                            </div>
                            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Отправить</button>
                        </form>
                    </div>
                </div>
            </form>>
{% endblock %}