{% extends 'home.html' %}
{% load my_tags %}
{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 text-center">
        {% for product in products %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <img src="{{ product.image | media_filter }}">
                    <h2 class="card-title pricing-card-title">Цена - {{ product.price }} руб</h2>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ product.name }}</li>
                        <li>Описание: {{ product.description|slice:100 }}...</li>
                    </ul>
                    <a class="btn btn-primary" href="{% url 'catalog:product_detail' product.pk %}" role="button">Подробно</a>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}